.red-border {
    border: 1px solid red;
}

.shadow-border {
    border: 1px solid;
    /*box-shadow: 5px 10px;*/

}

.full-code-link {
    font-size: .5rem;

}

.blue-shadow-border {
    border: 11px solid blue;
    box-shadow: 1px 1px;
}

.banner {
    padding: 10px 0px 10px 10px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid red;
    border-radius: 10px;    
    font-size: 1.3rem;
    color: red;
}

.call-point {
    padding: 10px 0px 10px 10px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid red;
    border-radius: 10px;
    font-size: 1rem;
    color: green;
}

.replace-point {
    padding: 0px 0px 0px 10px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid red;
    border-radius: 10px;
    font-size: 1rem;
    color: green;
}

.details {
    margin-top: 2px;
}

details.details-style {
    padding: 5px 20px 0px 20px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: aliceblue;
    margin-bottom: 2em;
    transition: all 0.2s ease-in-out;
    max-height: 40px;
    overflow: hidden;
    font-size: 1rem;
    position: relative;
}

details.details-style summary {
    cursor: pointer;
    outline: none;
}

details[open].details-style {
    border: 1px solid blue;
    background-color: rgba(0,0,0,0.1);
    /*background-color: rgba(240,248,255,0.8);*/
    max-height: 3000px;
    padding: 5px 20px 0px 20px;
}

details[open].details-style summary {
    padding-bottom: 2em;
}

details[close].details-style {
    border-collapse: collapse;
}

details.details-style[open]>summary::after {
    font-size: 1rem;
    display: inline-block;
    content: "▲ Close ";
    position: absolute;
    padding-right: 40px;
    right: 0;
    bottom: 0;
}

summary.summary-style {
    padding: 0px 20px 0px 20px;
    text-align: left;
    color: blue;
    font-size: 1.1rem;
    font-weight: bold;
}

.popup {
    color:blue;
    padding-left: 10px;
}

.popup h3 {
    font-size: 1.3rem;
    color: blue;
    text-decoration: underline;
}

/*
.ricks-popup {
    color:blue;
    text-align: center;
}
*/

/* Responsiveness for document */
/*-----------------------------------------
The @media MAX-width query properties
=========================================*/
@media (max-width: 760px) {

    .banner {
        font-size: 1.1rem;
    }

    summary.summary-style {
        padding: 0px 20px 0px 20px;
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
    }

    .popup h3 {
        font-size: 1.1rem;
     }
  }

