.red-border {
    border: 1px solid red;
}

.shadow-border {
    border: 1px solid;
    /*box-shadow: 5px 10px;*/

}

.full-code-link {
    font-size: .5rem;

}


.blue-shadow-border {
    border: 11px solid blue;
    box-shadow: 1px 1px;
}


details {
    margin-top: 2px;
}

details.styled {
    padding: .2em 0;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: aliceblue;
    margin-bottom: 2em;
    transition: all 0.2s ease-in-out;
    max-height: 40px;
    overflow: hidden;
    font-size: 1rem;
    position: relative;
}

details.styled summary {
    cursor: pointer;
    outline: none;
}

details[open].styled {
    border: 1px solid blue;
    background-color: rgba(240,248,255,0.8);
    max-height: 2500px;
}

details[open].styled summary {
    padding-bottom: 2em;
}

details[close].styled {
    border-collapse: collapse;
}

details.styled[open]>summary::after {
    font-size: 1rem;
    display: inline-block;
    content: "▲ Close  ▲ ";
    position: absolute;
    right: 0;
    bottom: 0;
}

summary.summary-styled {
    margin-left: 1.5rem;
    text-align: left;
    color: blue;
    font-size: 1.1rem;
    font-weight: bold;
}

.popup {
    text-align: center;
    color:blue;
    padding-left: 3px;
}