/*Content Reference ***IMPORTANT*/
/*https://www.w3schools.com/icons/icons_reference.asp*/

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bookman Old Style');
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');

/*-----------------------------------------------*/
/*Variables*/
:root {
    --Border-Curves-Main: 10px; /*was 5*/
    --Border-Curves-Top-Left: 10px; /*was 20*/
    --Border-Curves-Bottom-Right: 10px; /*was 1*/  
    --Border-Curves-Top-Left-Pop: 10px;  
    --Callout-Padding: 5px 10px 10px 10px;    
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*Used only around the original sketch*/
.green-border {
    background-color: #ECECEC;
    border: 3px solid green;
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);
    padding: 10px;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For most MD images*/
.no-border {
    border: none;
    border-radius: 5px;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For some text decorations*/
.pic-text {
    background-color: blue; 
    color: white;    
}
.doc-dir-text {
    background-color: yellow; 
    color: green;
}
.callout-dir-text {
    background-color: yellow; 
    color: black;
}
.css-link-text {
   font-size: 25px;
   color: orangered; 
   background-color: yellow;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For some MD images*/

.fifty-percent {
    width: 50%;
}

.seventy-five-percent {
    width: 75%;
}

.eighty-percent {
    width: 80%;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*to make blueNSX look stylish*/
.author {
    border: 2px cornflowerblue solid;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 1px;
/*
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);
*/
    box-shadow: 3px 3px #0F52BA;
    font-size: 1.3rem;
    background-color: #ECECEC;
    color: blue;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 20px;
}

.author-image {
    width: 15%;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*gives shape and color to all horizontal lines*/
hr {
    border: none;
    height: 3px;
    color: #ECECEC;
    background-color: #ECECEC;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*creates a nice wide horizontal line at main divisions*/
.main-division  {
    border: 5px solid #ECECEC;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/* Call Outs */
/* Call Out for the 3 copy/paste note instructions */
.callout-note {
    padding: var(--Callout-Padding);
    background-color: #ECECEC;
    border: 2px solid purple;
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);      
    font-size: 1rem;
    color: purple;
}

.callout-note::before {
    font-family: "Font Awesome 5 Free";
	font-weight: 800;
    font-size: 1.2rem;
	content: "\f0a4  NOTE!"; /*hand icon*/
    color: purple;
    display: inline-block;
    top: 0;
    right: 0;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/* Call Out for instructional tips */
.callout-tip {
    padding: var(--Callout-Padding);
    background-color: #ECECEC;
    border: 2px solid green;
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);    
    font-size: 1rem;
    color: green;
}

.callout-tip::before {
    font-family: "Font Awesome 5 Free";
	font-weight: 800;
	/*content: "\f069  TIP! \A"; /*asterisk*/
	content: "\f14a  TIP! \A"; /*checkbox*/
    font-size: 1rem;
    white-space: pre;
    color: green;
    display: inline-block;
    top: 0;
    right: 0;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/* Call Out for Code WARNINGS */
.callout-code-warning {
    padding: var(--Callout-Padding);
    background-color: #ECECEC;
    border: 2px solid red;
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);   
    font-size: 1rem;
    font-weight: 500;
    color: red;
}

.callout-code-warning::before {
    font-family: "Font Awesome 5 Free";
	font-weight: 600;
    font-size: 1.2rem;
	content: "\f071  IMPORTANT! \A";
    white-space: pre;
    color: red;
    display: inline-block;
    top: 0;
    right: 0;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/* Call Out for Code WARNINGS */
.callout-oops {
    padding: var(--Callout-Padding);
    background-color: #ECECEC;
    border: 2px solid green;
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);   
    font-size: 1rem;
    font-weight: 500;
    color: green;
}

.callout-oops::before {
    font-family: "Font Awesome 5 Free";
	font-weight: 600;
    font-size: 1.2rem;
	content: "\f5a5  OOPS! \A";
    white-space: pre;
    color: green;
    display: inline-block;
    top: 0;
    right: 0;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For the Chrome Icon*/
.callout-chrome {
    color: red;
    font-size: 1rem;
    font-weight: 600;
}

.callout-chrome::before {
    font-family: "Font Awesome 5 Free";
	font-weight: normal;
    font-size: 1rem;
	content: "\f268  Chrome \A"; /*CHROME Icon*/
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For the copy code with image blurb instructions*/
.copy-code {
    color: red;
    font-size: 1rem;
    font-weight: 600;
}

.copy-code::before {
    font-family: "Font Awesome 5 Free";
	font-weight: normal;
    font-size: 1.2rem;
	content: "\f0c5 \A";
}

/*for sizing the copy image*/
.copy-image {
    width: 8%
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For the copy code with image blurb instructions*/
.save-code {
    padding: var(--Callout-Padding);
    background-color: #ECECEC;
    border: 2px solid #008098; /*Dark Cyan*/
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);   
    font-size: 1rem;
    font-weight: 500;
    color: #008098; /*Dark Cyan*/
}

.save-code::before {
    font-family: "Font Awesome 5 Free";
	font-weight: 600;
    font-size: 1.2rem;
	content: "\f07c  SAVED \A";
}

/*for sizing the copy image*/
.save-image {
    width: 8%
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For the last and final CONGRATULATINS*/
.final {
    background-color:rgb(255 255 224);
    border: 3px solid goldenrod;
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);  
    font-size: 1.1rem;
    font-weight: 900;
    color: goldenrod;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
/*
.final::before {
    font-family: "Font Awesome 5 Free";
	font-weight: normal;
    font-size: 2rem;
	content: "\f582 \A";
}
*/
.happy-coding {
    padding-left: 40px;
    padding-top: 0px;
}

.happy-coding-percent {
    width: 50%;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For all the semi-final CONGRATULATIONS*/
.semi-final {
    padding: var(--Callout-Padding);
 /*   background-color:lightblue; */
    background-color:#ECECEC;
    border: 2px solid blue;
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);  
    font-size: 1rem;
    font-weight: 500;
    color: blue;
}

.semi-final::before {
    font-family: "Font Awesome 5 Free";
	font-weight: normal;
    font-size: 1.2rem;
	content: "\f582 \A \A";
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/* Call Out for instructionsal tips INSIDE a popup */
.popup-tip {
    padding: var(--Callout-Padding);
    background-color: whitesmoke;
    border: 2px solid green;
    border-radius: var(--Border-Curves-Main);
    border-top-left-radius: var(--Border-Curves-Top-Left);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);   
    font-size: 1rem;
    color: green;
}

.popup-tip::before {
    font-family: "Font Awesome 5 Free";
	font-weight: 800;
	content: "\f14a  TIP! \A";
    white-space: pre;
    color: green;
    display: inline-block;
    top: 0;
    right: 0;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For the PopUps [details, summary classes]*/
/*Starting Here*/
.details {
    margin-top: 2px;
}

details.details-style {
    padding: var(--Callout-Padding);
    border: 2px solid blue;
    border-radius: var(--Border-Curves-Main);
    border-bottom-right-radius: var(--Border-Curves-Bottom-Right);    
    border-top-left-radius: var(--Border-Curves-Top-Left-Pop);
    background-color: aliceblue;
    margin-bottom: 2em;
    transition: all 0.2s ease-in-out;
    max-height: 40px;
    overflow: hidden;
    font-size: 1rem;
    position: relative;
}


details.details-style summary {
    cursor: pointer;
    outline: none;
}

details[open].details-style {
    border: 2px solid blue;
    background-color: #ECECEC;
    max-height: 3000px;
    padding: 5px 20px 0px 12px;
}

details[open].details-style summary {
    padding-bottom: 2em;
}

details[close].details-style {
    border-collapse: collapse;
}

details.details-style[open]>summary::after {
    font-size: 1rem;
    display: inline-block;
    content: "▲ Close ";
    position: absolute;
    padding-right: 40px;
    right: 0;
    bottom: 0;
}

summary.summary-style {
    padding: 0px 20px 0px 20px;
    text-align: left;
    color: blue;
    font-size: 1rem;
    font-weight: bold;
}
/*=======================*/
/*Ending Here*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For the divs inside the details/summary tags*/
.popup {
    color:blue;
    padding-left: 10px;
}

.popup h3 {
    font-size: 1.3rem;
    color: blue;
    text-decoration: underline;
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/* Responsiveness for document */
/*-----------------------------------------
The @media MAX-width query properties
===========================================
The @media MAX-width (800px) query properties
=========================================*/
@media (max-width: 800px) {
    .author {
        font-size: 1rem;
    }
    .author-image {
        width: 15%;
    }
    .copy-image {
        width: 10%
    }
    .callout-copy {
        font-size: 1.1rem;
    }
    .callout-code-warning {
        font-size: .7rem;
    }
    summary.summary-style {
        padding: 5px 20px 5px 15px;
        text-align: left;
        font-size: .9rem;
        font-weight: bold;
    }
    details[open].details-style {
      padding: 5px 20px 0px 12px;
    }
    .popup h3 {
        font-size: 1.1rem;
    }
    .happy-coding-percent {
        width: 65%;
    }
    .final {
        padding-left: 0px;
    } 
}

/*-----------------------------------------
The @media MAX-width (420px) query properties (iPhone7 Plus) 
=========================================*/

  @media (max-width: 420px) {
   /*
    html {
        orientation: landscape;
    }
   */ 
    .author {
        font-size: .7rem;
    }
    .author-image {
        width: 15%;
    }
    .copy-image {
          width: 12%
    }
    .callout-copy {
        font-size: 1rem;
    }
    .callout-code-warning {
        font-size: .52rem;
    }
    summary.summary-style {
        padding: 5px 20px 5px 5px;
        text-align: left;
        font-size: .9rem;
        font-weight: bold;
    }
    details[open].details-style {
        padding: 5px 20px 0px 7px;
    }
    .popup h3 {
        font-size: 1.1rem;
    }
    .happy-coding {
    padding-left: 0px;
    }
    .final {
        padding-left: 0px;
    }    
}

/*ORPHANS 091322*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*For most MD images*/
.shadow-border {
    border: 1px solid;
    /*box-shadow: 5px 10px;*/
}
/*-----------------------------------------------*/
/*END OF CSS*/