
/** ------------------------------------------------------------------------------------------------------------------------------- */
/** SASS VARS **/
/** ------------------------------------------------------------------------------------------------------------------------------- */

:root {
    --notice-margin-top          : 15px;                	/* .(20906.07.01 RAM Added) */
    --notice-margin-left         : 25px;                	/* .(20906.07.02 RAM Added) */
    --notice-padding             : 12px 0px  8px 40px;  	/* .(20906.07.03 RAM Added) */         
    --notice-font-size           : 18px; /* 1rem */       	/* .(20906.07.04 RAM Added) */    
    --notice-border-width        :  1px;                    /* .(20912.01.01 RAM Added) */    

    --notice-heading-margin-top  :  -5px;               	/* .(20906.07.05 RAM Added).( 26 + 5 + 9 = 40 ) */         
    --notice-heading-height      :  26px;               	/* .(20906.07.06 RAM Added).(20906.01.2 RAM Was 28px; then 20px;) */           
    --notice-heading-line-height :  26px;               	/* .(20906.07.07 RAM Added) */         
    --notice-heading-font-size   :  20px; /* 1.1rem */     	/* .(20906.07.08 RAM Added) */         
    --notice-heading-margin-left : -34px;     				/* .(20906.07.09 RAM Added) */         
    --notice-heading-padding-left:  35px;     				/* .(20906.07.10 RAM Added) */         
    --notice-header-weight       :  bold; 

    --info-border-color          : blue;
    --info-background-color      : rgb(245, 250, 255);           /* was: aliceblue;  */  
    --info-text-color            : blue;

    --tip-border-color           : green;                        /* .(20830.04.1 RAM Was: red;) */
/*  --tip-background-color       : rgba(0,0,0,0.1);              *//* aliceblue;   rgba(210, 247, 213, 0.847); */
    --tip-background-color       : rgb(243, 247, 244);
    --tip-text-color             : green;

    --warning-border-color       : red;
    --warning-background-color   : rgba(253, 241, 241, 0.938);   /* was: rgba(250, 232, 232, 0.776); */
    --warning-text-color         : red;

    --success-border-color       : rgb(182, 166, 81);            /* .(20830.04.2 RAM Was: red; now Gold) */  
    --success-background-color   : rgba(245, 242, 228, 0.939); 
    --success-text-color         : rgb(109, 98, 41);             /* .(20830.04.3 RAM Was: black;) */ 

    --replace-border-color       : black;                        /* .(20830.04.2 RAM Was: red;) */  
    --replace-background-color   : rgba(0,0,0,0.1);
    --replace-text-color         : black;                        /* .(20830.04.3 RAM Was: black;) */ 
      }

/* Google Icon Usage:  <span class="google-icon">icon-name</span>  
   See https://fonts.google.com/icons for a list on icons.
 */
.google-icon { 
    font-family     : 'Material Icons';
    font-size       : 20px;
    padding         : 0px 5px 0px 20px; /* top right bottom left */
/*  cursor          : pointer; */ 
    }

.check-icon { 
    font-family     : 'Material Icons';
    font-size       : 20px;
    padding         : 0px 5px 0px 20px; /* top right bottom left */
    content         : "&#xe834;";
    }
    
.red-border {
    border          : 1px solid red;
    }

.shadow-border {
    border          : 1px solid;
 /* box-shadow: 5px 10px; */

    }

.full-code-link {
    font-size       : .5rem;
    }

.blue-shadow-border {
    border          : 11px solid blue;
    box-shadow      : 1px 1px;
    }
/* ------------------------------------------ */

.notice-warning {                                			/* .(20831.01.1 RAM Was: .banner) */
    margin-top       :  var(--notice-margin-top); 			/* .(20906.07.11) */
    margin-left      :  var(--notice-margin-left);			/* .(20906.07.12) */
    padding          :  var(--notice-padding);    			/* .(20906.07.13) */
    border           :  var(--notice-border-width) solid var(--warning-border-color); /* .(20912.02.2) */
    border-radius    : 10px;
    background-color :  var(--warning-background-color);
    font-size        : 18px;  /* 1rem; */
    color            :  var(--warning-text-color);
    }

.notice-warning-header {                       		 		/* .(20830.04.3 RAM Added).(20831.01.2 Was: .banner-header) */
/*  background-image : url( "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 125 175' stroke='red' stroke-width='16' ><g fill='none' ><path d='M-220-40h1760v1360H-220z'/%3E%3Cpath fill='red' d='M101.97 25.67a2.1 2.1 0 0 0-3.94 0L83.16 68.44a8.62 8.62 0 0 1-7.97 5.8l-45.3.92a2.1 2.1 0 0 0-1.2 3.74l36.08 27.36a8.62 8.62 0 0 1 3.05 9.37L54.7 158.98a2.1 2.1 0 0 0 3.2 2.3l37.18-25.85a8.62 8.62 0 0 1 9.84 0l37.18 25.86a2.1 2.1 0 0 0 3.2-2.32l-13.13-43.35a8.62 8.62 0 0 1 3.05-9.37L171.3 78.9a2.1 2.1 0 0 0-1.2-3.74l-45.3-.93a8.62 8.62 0 0 1-7.96-5.8z' ></g></svg>"); */
/*  background-image : url( "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'   stroke='red' stroke-width='16' ><g fill='red'  ><path d='M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z'></g></svg>"); */
/*  background-image : url( 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/></svg>' );' */
/*	background-image : url( "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#000000'><path d='M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z'/></svg>"); */
	background-image : url( "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='red'    ><path d='M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z'/></svg>");
    background-position: 7px  3px;              /* left top */
    background-size  :  19px 19px;              /*  x    y  *//* Smaller numbers, larger icon, until it crops icon */
    background-repeat: no-repeat;

    margin-top       :  var(--notice-heading-margin-top); 	/* .(20906.07.12) */ 
    height           :  var(--notice-heading-height); 	    /* .(20906.07.13) */ 
    line-height      :  var(--notice-heading-line-height);  /* .(20906.07.14) */ 
/*  padding-top      :  2px;   */
    font-size        :  var(--notice-heading-font-size);    /* .(20906.07.15) */ 
 
    margin-left      :  var(--notice-heading-margin-left);  /* .(20906.07.16) */ 
    padding-left     :  var(--notice-heading-padding-left); /* .(20906.07.17) */ 
    font-weight      :  var(--notice-header-weight);
    text-align       :  left;
    color            :  var(--warning-text-color);
    }
/* ------------------------------------------ */

.notice-tip {                                               /* .(20831.01.3 RAM Was: .call-point) */
    margin-top       :  var(--notice-margin-top); 			/* .(20906.07.11) */
    margin-left      :  25px;                               /* .(20831.02.1 RAM Added) */
/*  padding          :  0px 0px 10px  0px;                */
/*  padding          : 10px 0px  5px  0px;                *//* .(20906.01.1 RAM Was 20px; top right bottom left) */
    padding          : 12px 0px  8px 40px;         
    background-color : var(--tip-background-color);
    border           :  var(--notice-border-width) solid var(--tip-border-color); /* .(20912.02.3) */
    border-radius    : 10px;
    font-size        : 18px;  /* 1rem; */
    color            : var(--tip-text-color); 
    }

.notice-tip a { 
/*  text-decoration  : none;  */
    color            : var(--tip-text-color); 
    }

.notice-tip-header {                            /* .(20830.04.3 RAM Added).(20831.01.4 Was: .call-point-header) */
/*  background-image : url( ../icons/Star3a.svg );  */

/*  background-image : url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:lucid='lucid' viewBox='0 0 200 250' stroke='green' stroke-width='16' %3E%3Cg lucid:page-tab-id='0_0' fill='none' %3E%3Cpath d='M-220-40h1760v1360H-220z'/%3E%3Cpath fill='green' d='M101.97 25.67a2.1 2.1 0 0 0-3.94 0L83.16 68.44a8.62 8.62 0 0 1-7.97 5.8l-45.3.92a2.1 2.1 0 0 0-1.2 3.74l36.08 27.36a8.62 8.62 0 0 1 3.05 9.37L54.7 158.98a2.1 2.1 0 0 0 3.2 2.3l37.18-25.85a8.62 8.62 0 0 1 9.84 0l37.18 25.86a2.1 2.1 0 0 0 3.2-2.32l-13.13-43.35a8.62 8.62 0 0 1 3.05-9.37L171.3 78.9a2.1 2.1 0 0 0-1.2-3.74l-45.3-.93a8.62 8.62 0 0 1-7.96-5.8z' /%3E%3C/g%3E%3C/svg%3E"); */
/*  background-image : url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 200' stroke='green' stroke-width='16' %3E%3Cg fill='none' %3E%3Cpath d='M-220-40h1760v1360H-220z'/%3E%3Cpath fill='green' d='M101.97 25.67a2.1 2.1 0 0 0-3.94 0L83.16 68.44a8.62 8.62 0 0 1-7.97 5.8l-45.3.92a2.1 2.1 0 0 0-1.2 3.74l36.08 27.36a8.62 8.62 0 0 1 3.05 9.37L54.7 158.98a2.1 2.1 0 0 0 3.2 2.3l37.18-25.85a8.62 8.62 0 0 1 9.84 0l37.18 25.86a2.1 2.1 0 0 0 3.2-2.32l-13.13-43.35a8.62 8.62 0 0 1 3.05-9.37L171.3 78.9a2.1 2.1 0 0 0-1.2-3.74l-45.3-.93a8.62 8.62 0 0 1-7.96-5.8z' /%3E%3C/g%3E%3C/svg%3E"); */
/*  background-image : url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 125 175' stroke='green' stroke-width='16' %3E%3Cg fill='none' %3E%3Cpath d='M-220-40h1760v1360H-220z'/%3E%3Cpath fill='green' d='M101.97 25.67a2.1 2.1 0 0 0-3.94 0L83.16 68.44a8.62 8.62 0 0 1-7.97 5.8l-45.3.92a2.1 2.1 0 0 0-1.2 3.74l36.08 27.36a8.62 8.62 0 0 1 3.05 9.37L54.7 158.98a2.1 2.1 0 0 0 3.2 2.3l37.18-25.85a8.62 8.62 0 0 1 9.84 0l37.18 25.86a2.1 2.1 0 0 0 3.2-2.32l-13.13-43.35a8.62 8.62 0 0 1 3.05-9.37L171.3 78.9a2.1 2.1 0 0 0-1.2-3.74l-45.3-.93a8.62 8.62 0 0 1-7.96-5.8z' /%3E%3C/g%3E%3C/svg%3E"); */
    background-image : url( "data:image/svg+xml,<svg   xmlns='http://www.w3.org/2000/svg' viewBox='0 0 125 175' stroke='green' stroke-width='16' ><g fill='none' ><path d='M-220-40h1760v1360H-220z'/><path fill='green' d='M101.97 25.67a2.1 2.1 0 0 0-3.94 0L83.16 68.44a8.62 8.62 0 0 1-7.97 5.8l-45.3.92a2.1 2.1 0 0 0-1.2 3.74l36.08 27.36a8.62 8.62 0 0 1 3.05 9.37L54.7 158.98a2.1 2.1 0 0 0 3.2 2.3l37.18-25.85a8.62 8.62 0 0 1 9.84 0l37.18 25.86a2.1 2.1 0 0 0 3.2-2.32l-13.13-43.35a8.62 8.62 0 0 1 3.05-9.37L171.3 78.9a2.1 2.1 0 0 0-1.2-3.74l-45.3-.93a8.62 8.62 0 0 1-7.96-5.8z' /></g></svg>");
/*  background-position: 8px  6px;            *//* left top */                     /* Larger numbers, smaller icon */
/*  background-size  :  20px 17px;            *//*  x    y  */
/*  background-position: 8px  7px;            *//* left top */
/*  background-size  :  20px 13px;            *//*  x    y  *//* Smaller numbers, larger icon, until it crops icon */
    background-position: 5px  3px;              /* left top */
    background-size  :  20px 17px;              /*  x    y  *//* Smaller numbers, larger icon, until it crops icon */

    background-repeat: no-repeat;

    margin-top       :  -5px;                   /* 26 + 5 + 9 = 40 */ 
    height           :  26px;                   /* .(20906.01.2 RAM Was 28px; then 20px;) */
    line-height      :  26px;
/*  padding-top      :   2px;   */
    font-size        :  20px;  /* 1.1rem; */
 
    margin-left      : -34px;                   /* .(20902.02.1 RAM -Up move to left, -Down move to right ) */  
    padding-left     :  35px;
    font-weight      :  var(--notice-header-weight);
    text-align       :  left;
    color            :  var(--tip-text-color);
    }
/* ------------------------------------------ */

.notice-success {                                           /* .(20831.01.3 RAM Was: .call-point) */
    margin-top       :  var(--notice-margin-top); 			/* .(20831.02.1 RAM Added).(20906.07.11) */
    margin-left      :  25px;                               /* .(20906.03.1 RAM Added) */
/*  padding          :  10px 0px 10px 10px;   */
    padding          :  12px 0px  8px 40px;     /* was left: 55px */ 
/*  padding-left     :  55px;                 *//* .(20830.04.2 RAM Added) */
    background-color :    var(--success-background-color);
    border           :  var(--notice-border-width) solid var(--success-border-color); /* .(20912.02.4) */
    border-radius    :  10px;
    font-size        :  18px; /*  1rem; */
    line-height      :  20px;
    color            :    var(--success-text-color); 
    }

.notice-success-header {                        /* .(20830.04.3 RAM Added).(20831.01.4 Was: .call-point-header) */
/*  margin-left      : -50px;                  *//* .(20830.04.4 RAM Reverse parent padding) */
/*  background-image : url( "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><g ><path fill='rgb(109, 98, 41)' stroke-width='16' d='M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z'/></g></svg>" ); */
/*  background-image : url( "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'                  stroke-width='16'   ><g fill='rgb(109, 98, 41)' ><path d='M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z'/></g></svg>" );  */
/*  background-image : url( 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"         ><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z"/></svg>'); *//* fails */
/*	background-image : url( "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(109, 98, 41)'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z'/></svg>"); */
/*	background-image : url( "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'   height='24px' width='24px' stroke-width='16'       fill='rgb(109, 98, 41)' ><path d='M0 0h24v24H0V0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z'/></svg>"); */ 
	background-image : url( "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'   height='24px' width='24px' stroke-width='24'   ><g fill='rgb(109, 98, 41)' ><path d='M0 0h24v24H0V0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z' /></g></svg>");

/*  background-position: 8px  3px;            *//* left top */
/*  background-size  :  20px 23px;            *//*  x    y  */
    background-position: 5px  3px;              /* left top */
    background-size  :  20px 20px;              /*  x    y  *//* Smaller numbers, larger icon, until it crops icon */
    background-repeat: no-repeat;

/*  margin-top       :  -7px;                   /* 26 + 7 + 5 = 38 */ 
    margin-top       :  -5px;                   /* 26 + 5 + 9 = 40 */ 
    height           :  26px;
    line-height      :  26px;
/*  padding-top      :   2px; */
    font-size        :  20px;   /* 1.1rem; */
 
    margin-left      : -34px;                   /* .(20902.02.1 RAM New attributes) */  
    padding-left     :  35px;
    font-weight      :  var(--notice-header-weight);
    text-align       :  left;
    color            :  var(--success-text-color);
    }
/* ------------------------------------------ */

details.notice-info {                                       /* .(20831.01.3 RAM Was: details.details-style) */
    margin-top       :  var(--notice-margin-top); 			/* .(20831.02.1 RAM Added).(20906.07.11) */
    margin-left      :  25px;                               /* .(20906.03.1 RAM Added) */
/*  padding          :   5px 20px 0px 20px;   */
    padding          :  12px 0px  8px 55px; 
    background-color :   var(--info-background-color);
    border           :   var(--notice-border-width) solid var(--info-border-color); /* .(20912.02.5) */
    border-radius    :  10px;
    font-size        :  18px; /* 1rem; */
    line-height      :  20px;

/*  margin-bottom    :   0px;                 *//* .(20830.01.1 RAM Was: 2em) */
    max-height       :  40px; 
/*  min-height       :  40px;  */
    
    overflow         :   hidden;
    position         :   relative;
    transition       :   all 0.2s ease-in-out;
    }

.notice-info-header {                           /* Was: summary.summary-style */ 
/*  margin-top       :  -6px;                 *//* .(20830.02.1 RAM Added to vertically center summary text) */
    margin-top       :  -7px;                   /* 26 + 5 + 9 = 40 */ 
    height           :  26px;
    line-height      :  26px;
/*  padding-top      :   2px; */
/*  padding          :   0px 20px 0px 14px;   *//* .(20831.03.1 RAM Left Margin indent) */
/*  padding-bottom   :  40px;  */ /* 0px 0px 40px */
    font-size        :  20px;   /* 1.1rem; */
 
    margin-left      : -37px;    
/*  padding-left     :  35px;  */               /* .(20902.02.1 RAM Was 35px) */  
    font-weight      :  var(--notice-header-weight);
    text-align       :  left;
/*  white-space      :  nowrap;               *//* .(20830.03.1 RAM Added)  */
    color            :  var(--info-text-color);      
    }

.notice-info-popup {                            /* Was: .popup */
    color           : var(--info-text-color);  
/*  margin-top      : 0px;                    *//* Space between Summary and Detail */  
    margin          : 0px 10px 0px -15px;  
/*  padding         : 10px 0px 10px 35px;   */    /* .(20831.03.2 RAM Left Margin matches Tip/Warning) */
    }

details.notice-info summary {                   /* Was: details.details-style summary */
    cursor           : pointer;
    outline          : none;
    }

details.notice-info[open]>summary::after {      /* Was: details.details-style[open]>summary::after  */
    font-size        :  18px; /* 1rem; */
    display          :  inline-block;
    content          : "▲ Close ";
    position         :  absolute;
    padding-right    :  40px;
    right            :  0;
    bottom           :  0;
    }

details[open].notice-info {                     /* Was: details[open].details-style */
    border           :  var(--notice-border-width) solid var(--info-border-color); /* .(20912.02.6) */
    background-color :  var(--info-background-color);   
/*  background-color : rgba(240,248,255,0.8);*/
    max-height       : 3000px;

/*  margin-left      : -34px;    */
/*  padding-left     :  35px;    */              /* .(20902.02.1 RAM Was 35px) */  
/*  padding          :  5px 20px 0px 20px;       /* .(20906.04.1 RAM Must be same as margin-left  */
    }

details[open].notice-info summary {              /* Was: details[open].details-style summary */
    padding-bottom   : 0px;                      /* .(20830.01.2 RAM Was: 2em) */
    }

details[close].notice-info {  /* details[close].details-style */
    border-collapse  : collapse;
    }

/* ------------------------------------------ */

.replace-code-point {                                       /* .(20831.01.5 RAM Was: .replace-point) */
    margin-top       :  var(--notice-margin-top); 			/* .(20906.07.11) */
    padding          : 0px 0px 0px 10px;
    background-color : var(--replace-background-color); 
    border           :  var(--notice-border-width) solid var(--replace-border-color); /* .(20912.02.7) */
    border-radius    : 10px;
    font-size        : 1rem;
    color            : var(--replace-text-color);    
    }
/* ------------------------------------------ */
/*
.details {
    margin-top       : 2px;
    }
*/
/*
.popup h3 {
    font-size       : 1.3rem;
    color           : var(--info-text-color);
    text-decoration : underline;
    }
*/

/* Responsiveness for document */
/*-----------------------------------------
The @media MAX-width query properties
=========================================*/
@media (max-width: 760px) {

  .notice-warning {                                     /* .banner */ 
    font-size       : 1.1rem;
    }
/* .notice-info-header */
summary.summary-style {                           /*  summary.summary-style */ 
    margin-top      : -6px;                     /* .(20830.02.2) */
    padding         : 0px 20px 0px 20px;
    text-align      : left;
    font-size       : 1rem;
    font-weight     : bold;
    white-space     : nowrap;                   /* .(20830.03.2)  */
    }
/*
  .popup h3 {
    font-size      : 1.1rem;
    }
*/     
  }

