
/** ------------------------------------------------------------------------------------------------------------------------------- */
/** SASS VARS **/
/** ------------------------------------------------------------------------------------------------------------------------------- */

:root {
    --discussion-border-color       : blue;
    --discussion-background-color   : aliceblue;    
    --discussion-text-color         : blue;

    --tip-border-color              : green;    /* .(20830.04.1 RAM Was: red;) */
    --tip-background-color          : rgba(0,0,0,0.1);
    --tip-text-color                : green;

    --warning-border-color          : red;
    --warning-background-color      : rgba(239, 172, 172, 0.776);
    --warning-text-color            : red;

    --replace-border-color          : black;    /* .(20830.04.2 RAM Was: red;) */  
    --replace-background-color      : rgba(0,0,0,0.1);
    --replace-text-color            : black;    /* .(20830.04.3 RAM Was: black;) */   green;
      }

/* Google Icon Usage:  <span class="google-icon">icon-name</span>  
   See https://fonts.google.com/icons for a list on icons.
 */
.google-icon { 
    font-family     : 'Material Icons';
    font-size       : 20px;
    padding         : 0px 5px 0px 20px; /* top right bottom left */
/*  cursor          : pointer; */ 
    }

.red-border {
    border          : 1px solid red;
    }

.shadow-border {
    border          : 1px solid;
 /* box-shadow: 5px 10px; */

    }

.full-code-link {
    font-size       : .5rem;
    }

.blue-shadow-border {
    border          : 11px solid blue;
    box-shadow      : 1px 1px;
    }

.banner {
    padding         : 10px 0px 10px 10px;
    background-color: var(--warning-background-color);
    border          : 1px solid var(--warning-border-color);
    border-radius   : 10px;    
    font-size       : 1rem;
    padding-left    : 55px;                 /* .(20830.04.2 RAM Added) */
    color           :var(--warning-text-color);
    }

.banner-header {                            /* .(20830.04.3 RAM Added) */
    margin-left         : -45px;            /* .(20830.04.4 RAM Reverse parent padding) */
    font-weight         : bold;
    font-size           : 1.1rem;
    }

.call-point {
    padding         : 10px 0px 10px 10px;
    background-color: var(--tip-background-color);
    border          :  1px solid var(--tip-border-color); 
    border-radius   : 10px;
    font-size       :  1rem;
    padding-left    : 55px;                 /* .(20830.04.2 RAM Added) */
    color           : var(--tip-text-color); 
    }

.call-point-header {                            /* .(20830.04.3 RAM Added) */
    margin-left         : -45px;                /* .(20830.04.4 RAM Reverse parent padding) */
    font-weight         : bold;
    font-size           : 1.1rem;
    }

.replace-point {
    padding         : 0px 0px 0px 10px;
    background-color: var(--replace-background-color); 
    border          : 1px solid var(--replace-border-color); red;
    border-radius   : 10px;
    font-size       : 1rem;
    color           : var(--replace-text-color); green;    
    }

.details {
    margin-top      : 2px;
    }

details.details-style {
    padding         :  5px 20px 0px 20px;
    border          :  1px solid var(--discussion-border-color);
    border-radius   : 10px;
    background-color: var(--discussion-background-color);
    margin-bottom   :  0px;                        /* .(20830.01.1 RAM Was: 2em) */
    transition      : all 0.2s ease-in-out;
    max-height      : 40px;
    overflow        : hidden;
    font-size       :  1rem;
    position        : relative;
}

details.details-style summary {
    cursor          : pointer;
    outline         : none;
}

details[open].details-style {
    border          : 1px solid var(--discussion-border-color);
    background-color: var(--discussion-background-color);  /* rgba(0,0,0,0.1); */
 /* background-color: rgba(240,248,255,0.8);*/
    max-height      : 3000px;
    padding         : 5px 20px 0px 20px;
    }

details[open].details-style summary {
    padding-bottom  : 0px;                        /* .(20830.01.2 RAM Was: 2em) */
    }

details[close].details-style {
    border-collapse : collapse;
    }

details.details-style[open]>summary::after {
    font-size       : 1rem;
    display         : inline-block;
    content         : "▲ Close ";
    position        : absolute;
    padding-right   : 40px;
    right           : 0;
    bottom          : 0;
    }

summary.summary-style {
    margin-top      : -6px;                     /* .(20830.02.1 RAM Added to vertically center summary text) */
    padding         :  0px 20px 0px 15px; 
    text-align      :  left;
    color           :  var(--discussion-border-color);     
    font-size       : 1.1rem;
    font-weight     :  bold;
    white-space     : nowrap;                   /* .(20830.03.1 RAM Added)  */
    }

.popup {
    color           : var(--discussion-text-color);     
    padding-left    : 10px;
    }

.popup h3 {
    font-size       : 1.3rem;
    color           : var(--discussion-text-color);
    text-decoration : underline;
    }


/* Responsiveness for document */
/*-----------------------------------------
The @media MAX-width query properties
=========================================*/
@media (max-width: 760px) {

  .banner {
    font-size       : 1.1rem;
    }

  summary.summary-style {
    margin-top      : -6px;                     /* .(20830.02.2) */
    padding         : 0px 20px 0px 20px;
    text-align      : left;
    font-size       : 1rem;
    font-weight     : bold;
    white-space     : nowrap;                   /* .(20830.03.2)  */
    }

  .popup h3 {
    font-size      : 1.1rem;
    }
  }

