.red-border {
    border: 1px solid red;
}

.shadow-border {
    border: 1px solid;
    box-shadow: 1px 1px;
}

.popup-style {
    border: 1px solid;
    box-shadow: 1px 1px;
}

.full-code-link {
    font-size: .5rem;
}

.blue-shadow-border {
    border: 11px solid blue;
    box-shadow: 1px 1px;
}

details {
    margin-top: 20px;
}

details.styled {
    padding: .5em 0;
/*    border: 1px solid blue;*/
    border-radius: 10px;
    margin-bottom: 1em;
    transition: all 0.4s ease-in-out;
    max-height: 40px;
    overflow: hidden;
    font-size: 1.2rem;
    position: relative;
}

details.styled summary {
    cursor: pointer;
    outline: none;
}

details[open].styled {
    border: 1px solid blue;
    background-color: rgba(0,0,0,0.1);
    max-height: 2200px;
}

details[open].styled summary {
    padding-bottom: 1em;
}

details[close].styled {
    border-collapse: collapse;
}

details.styled[open]>summary::after {
    display: inline-block;
    content: "▲ Close  ▲ ";
    position: absolute;
    right: 0;
    bottom: 0;
}

summary.summary-styled {
    margin-left: 1.5rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}

